- mod[:help] = t('upload.login_to_upload') if @article.new_record?

- form_for(@article, :html => {:onsubmit => 'tinyMCE.triggerSave(); return captcha.show(this);'}) do |f|
  = f.error_messages

  = f.label(:title)
  = f.text_field(:title)

  = f.label(:introduction)
  ~ f.text_area(:introduction)

  = f.label(:body)
  ~ f.text_area(:body, :rows => '30')

  = f.label(:categories)
  %ul
    - mod[:categories].each do |cat|
      = html_tree(cat) do |c, level|
        - [check_box_tag('article[category_ids][]', c.id, @article.category_ids.include?(c.id)) + ' ' + h(c.name)]

  = f.label(:tag_list, t('tag.input'))
  = f.text_field(:tag_list)

  = f.submit(t('common.save'))

- unless @article.new_record?
  = html_upload_list_and_upload(@article)
