- @effective_version = @article.version
#article_versions= render(:file => 'articles/version')

= html_content_contributors(@article)
= html_content_groups(@article)
= html_content_bookmarks(@article)
= html_comment_all(@article)
