= html_content_header(@article)

.article_introduction= sanitize(@article.introduction)
.articles_body= sanitize(@article.body)

%p
  - unless @effective_version.nil?
    = html_content_version_pager(@article, @effective_version)
    = link_to(theme_image_tag('edit.png'), edit_article_path(@article, :version => @article.version), :name => t('common.edit'))
