!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en', 'xml:lang' => 'en'}
  %head= mod[:head]
  %body
    #mini_nav
      = link_to(theme_image_tag('root.gif'), root_path)
      = link_to(theme_image_tag('feed.gif'), root_path)
    #container
      #content= mod[:regions][:content]
      .sidebar#sidebar1= mod[:regions][:sidebar1]
      .sidebar#sidebar2= mod[:regions][:sidebar2]
