- # Inputs:
- #   contents: may contain different types of contents
- #   options: params for paginating_links

- div_id = "content_container_previews#{contents.object_id}"

%div{:id => div_id}
  - contents.each do |n|
    - type        = n.class.to_s
    - down        = type.downcase
    - down_plural = down.pluralize
    - partial     = "#{down_plural}/index_preview"
    .preview= render(partial, :content => n)

  %p.pager= paginating_links(contents, {:window_size => 5, :params => options}, :onclick => "return OpenKH.showPage('#{div_id}', this.href)")
