-# Inputs:
-#   categorizings or contents: collection from will_paginate find
-#   options: params for will_paginate

- collection_is_categorizings = defined?(categorizings)
- collection = collection_is_categorizings ? categorizings : contents

#previews
  - collection.each do |c|
    - n              = collection_is_categorizings ? c.model : c
    - type           = n.class.to_s
    - down           = type.downcase
    - preview_method = "html_preview_#{down}"
    - html_preview   = send(preview_method, n)
    - no_user_info   = html_preview.empty?
    .preview
      %h2= link_to(n.title, content_show_path(n))
      = html_content_header(n, no_user_info)
      = html_preview
      = html_comment_last(n)

  %p.pager= will_paginate(collection, :params => options, :onclick => "return OpenKH.showPage('previews', this.href)")
