-# Inputs:
-#   categorizings: collection from will_paginate find
-#   options: params for will_paginate

#previews
  - categorizings.each do |c|
    - n              = c.model
    - type           = n.class.to_s
    - down           = type.downcase
    - preview_method = "html_preview_#{down}"
    - html_preview   = send(preview_method, n)
    - no_user_info   = html_preview.empty?
    .preview
      %h2= link_to(n.title, content_show_path(n))
      = html_content_header(n, no_user_info)
      = html_preview
      = html_comment_last(n)

  %p.pager= will_paginate(categorizings, :params => options, :onclick => "return OpenKH.showPage('previews', this.href)")
