-# Inputs:
-#   contents: may contain different types of contents
-#   options: params for paginating_links

#previews
  - contents.each do |n|
    - type           = n.class.to_s
    - down           = type.downcase
    - preview_method = "html_preview_#{down}"
    - html_preview   = send(preview_method, n)
    - no_user_info   = html_preview.empty?
    .preview
      %h2= link_to(n.title, content_show_path(n))
      = html_content_header(n, no_user_info)
      = html_preview
      = html_comment_last(n)

  %p.pager= paginating_links(contents, {:window_size => 5, :params => options}, :onclick => "return OpenKH.showPage('previews', this.href)")
