!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en', 'xml:lang' => 'en'}
  %head
    = mod[:head]
    <!--[if IE 7]>
    link_stylesheet_link_tag('ie7.css', :media => 'all')
    <![endif]-->
    <!--[if IE 6]>
    link_stylesheet_link_tag('ie6.css', :media => 'all')
    <![endif]-->
  %body
    .all
      .header
        %h1= link_to(SiteConf.instance.title, root_path)
        %h2= h(SiteConf.instance.subtitle)
      .menu1
        .menu2
      .content
        = image_tag('img_08.jpg')
        .contenttext
          .post= mod[:regions][:content]
        = image_tag('img_09.jpg', :style => 'vertical-align: bottom')
      .sidebar
        = mod[:regions][:sidebar]
      %div{:style => 'clear: both'}
      .footer
        %a.design{:target => '_blank', :href => 'http://wpglamour.com/'}
          %span WP Glamour
        .footertext
          Powered by
          = link_to('OpenKH', 'http://rubyforge.org/projects/openkh')
          %br
          and
          = link_to('dum dum', 'http://wp-themes.com/dum-dum/')
