%ul
  %li
    %em= t('common.title')
    = h(block.title)
  %li
    %em= t('content.mode')
    = (block.mode == 'preview') ? t('content.mode_preview') : t('content.mode_title')
  %li
    %em= t('common.limit')
    = block.limit
