= f.label(:title)
= f.text_field(:title)

= f.label(:mode)
= f.radio_button(:mode, 'preview') + t('content.mode_preview')
= f.radio_button(:mode, 'title') + t('content.mode_title')

= f.label(:limit)
= f.select(:limit, (1..99).to_a)
