%ul
  %li
    %em= t('breadcrumb.prefix')
    = h(conf.prefix)
  %li
    %em= t('breadcrumb.separator')
    = h(conf.separator)
  %li
    %em= t('breadcrumb.last_one_included')
    = check_box_tag(nil, '1', conf.last_one_included, :disabled => true)
